.c-app-channel-content {
  .slide-leave-active,
  .slide-enter-active {
    transition: 600ms;
  }
  .slide-enter {
    transform: translate(-100%, 0);
  }
  .slide-leave-to {
    transform: translate(0, 0);
  }


  &__loader-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10000000;
      .fix-loader-size {
        width: 100%;
        height: 100%;
        display: block;
      }
      &--rti1 {
        background-color: #a33915;
      }
      &--rti2 {
        background-color: #0d391a;
      }
      &--rti3 {
        background-color: #330045;
      }

      &--radio-ci {
        background-color: #f9aa00;
      }

      &--frequence {
        background-color: #d3522a;
      }
      &--radio-flimee {
        background-color: #f9aa00;
      }

    img {
      width: 40%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__top-carousel {

    .VueCarousel-slide {
            position: relative;
          .c-item-details {
            position: absolute;
            bottom: 20%;
            right: 40px;
            z-index: 10;
            .c-item-title {
              font-weight: 700;
              color: #2f323b;
              background-color: #fff;
              -webkit-box-decoration-break: clone;
              box-decoration-break: clone;
              font-size: 28px;
              padding: 5px 10px;
              text-align: left;
              letter-spacing: 2.5px;
              text-transform: uppercase;
            }

            .c-play-item {
              font-size: 20px;
              background-color: rgba(33, 150, 243, 0.6);
              text-transform: uppercase;
              padding: 5px 4px;
              margin-top: 5px;
              display: table;
              float: right;
              img {
                margin-right: 15px;
                margin-left: 5px;
                margin-top: -5px;
              }
            }
        }
    }

    .VueCarousel-slide-active {
        .c-item-details {
          -webkit-animation:linear;
          -webkit-animation-name: run;
          -webkit-animation-duration: 250ms;
      }


      @-webkit-keyframes run {
        0% { right: -100px; opacity: 0;}
        100%{ right: 40px; opacity: 1;}
      }
    }



    .VueCarousel-slide-active img,
    .VueCarousel-wrapper > div > div:nth-child(1) img{
      -webkit-animation: zoomin 15s 1;
    }
    @-webkit-keyframes zoomin {
      0% {
        -webkit-transform: scale(1);
      }
      100% {
        -webkit-transform: scale(1.025);
      }

    }

    .VueCarousel-pagination {
      position: fixed;
      bottom: 5%;
      z-index: 100;
    }
    .VueCarousel-dot-button {
      border: 1px solid hsla(0,0%,100%,.4) !important;
      background-color: rgba(0,0,0,.4) !important;
      width: 16px !important;
      height: 16px !important;
    }

    .VueCarousel-dot--active button {
      background: #FFF !important;
    }
  }
}
