.c-app-channel-grid-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: #2f323b;
  overflow: hidden;
}

@media only screen and (min-width: 750px) {

  .c-app-channel-grid-content {
    overflow: scroll;
    overflow-y: hidden;

    &__background {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: .07;
      background-size: cover;
      background-position: 50%;
    }

    &__category-carousel {

      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      -webkit-align-content: flex-start;
      align-content: flex-start;
      .c-carousel-items {
        height: calc(100vh + 30px);
        min-height: 520px;
        padding: 120px 0 100px 300px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        -webkit-align-content: flex-start;
        align-content: flex-start;

        .c-other-grid {
          flex-direction: row;
          -ms-flex-line-pack: start;
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          height: calc(100vh - 190px);
          min-height: 300px;

          .c-carousel-grid-item {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            min-width: 133px;
            height: 100%;
            position: relative;
            width: calc(-85.98214px + 44.64286vh);
            &__small {
              display: block;
              width: auto;
              height: 25%;
              padding: 5px;
              img {
                display: block;
                width: 100%;
                height: 100%;
                background: #000;
                -o-object-fit: cover;
                object-fit: cover;
              }
            }
          }
        }

        .c-first-grid {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          min-width: 532px;
          height: calc(100vh - 190px);
          min-height: 300px;
          margin-top: 0;
          position: relative;
          width: calc(-343.92857px + 178.57143vh);
          .c-carousel-grid-item {

            width: 50%;
            height: 50%;
            flex: 0 0 auto;
            min-width: 133px;
            position: relative;
            -webkit-box-flex: 0;
            &__small {
              width: 50%;
              height: 50%;
              display: inline-block;
              padding: 5px;
              float: left;
            }
            &__large {
              width: 100%;
              height: 100%;
              display: inline-block;
              padding: 5px;
            }
          }
        }

        .c-other-grid, .c-first-grid {
          .c-carousel-grid-item {
            &__small, &__large {
              a {
                display: block;
                position: relative;
                z-index: 1;
                width: 100%;
                color: inherit;
                outline: none;
                text-decoration: none;
                -webkit-transform-origin: center;
                transform-origin: center;
                -webkit-transition: z-index 0s .1s,-webkit-transform .2s .1s;;
                transition: transform .2s .1s,z-index 0s .1s,-webkit-transform .2s .1s;

               &:hover {
                 z-index: 2;
                 -webkit-transform: scale(1.1);
                 transform: scale(1.1);
                 -moz-transform: scale(1.1) rotate(.01deg);
                 .c-info, .c-overlay {
                   opacity: 1;
                 }
               }

                .c-thumb-image {
                  display: block;
                  width: 100%;
                  max-height: 100%;
                  position: relative;
                  z-index: 2;
                  padding-top: 56%;
                  height: 0;
                  img {
                    position: absolute;
                    top: 0;
                    left: 0;
                  }
                }

                .c-thumb-image, .c-thumb-image > img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  background: #000;
                  -o-object-fit: cover;
                  object-fit: cover;
                }

                .c-info {
                  padding: 3px 9px 7px;
                  margin-top: 5px;
                  -webkit-transition: opacity .1s .1s;
                  transition: opacity .1s .1s;
                  position: relative;
                  z-index: 3;
                  opacity: 0;
                  .title, .description {
                    line-height: 1;
                    text-transform: uppercase;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                  }
                  .title {
                    margin-bottom: 3px;
                    color: #2e3c4b;
                    font-size: 13px;
                    font-weight: 700;
                  }
                  .description {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    color: #4c5054;
                    font-size: 11px;
                  }
                }

                .c-overlay {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  margin: -3px;
                  padding: 3px;
                  z-index: 1;
                  opacity: 0;
                  background-color: #fff;
                  -webkit-box-shadow: 0 0 10px 3px rgba(12,14,18,.75);
                  box-shadow: 0 0 10px 3px rgba(12,14,18,.75);
                  -webkit-transition: opacity .1s .1s;
                  transition: opacity .1s .1s;
                }

              }
            }
          }
        }
      }
    }

    &__slider-arrow {
      button {
        position: fixed;
        top: 40%;
        background-color: #1b1d23d6;
        border: none;
        padding: 20px 0;
      }
     .slider-arrow-left {
        left: 0;
        svg {
         width: 70px;
        }
      }
      .slider-arrow-right {
        right: 0;
        svg {
          width: 70px;
        }
      }
    }
  }
}


@media only screen and (max-width: 749px) {

  .c-app-channel-grid-content {
    overflow: scroll;
    overflow-y: hidden;
    &__category-carousel {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      -webkit-align-content: flex-start;
      align-content: flex-start;
      .c-carousel-items {
        .c-other-grid {
          .c-carousel-grid-item {
            width: 100%;
            height: 100%;
            &__small {
              width: 50%;
              height: 50%;
              display: inline-block;
              padding: 5px;
              float: left;;
            }
          }
        }

        .c-first-grid {
          .c-carousel-grid-item {
            width: 100%;
            height: 100%;
            &__small {
              width: 50%;
              height: 50%;
              display: inline-block;
              padding: 5px;
              float: left;
            }
            &__large {
              width: 100%;
              height: 100%;
              display: inline-block;
              padding: 5px;
            }
          }
        }

        .c-other-grid, .c-first-grid {
          .c-carousel-grid-item {
            &__small, &__large {
              .c-thumb-image, .c-thumb-image > img {
                display: block;
                width: 100%;
                height: 100%;
                background: #000;
                -o-object-fit: cover;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
