.c-app-auth{
    .c-app-auth-blur-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: blur(8px);
      -webkit-filter: blur(8px);
    }

   .c-auth-content {
     width: 440px;
     height: 680px;
     background-color: #fff;
     padding: 0;
     overflow-y: inherit;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }
   .c-auth-container {
     &__modal {
       background-color: #FFF;
       padding: 15px 10px;

       &--header {
         text-align: center;
         .c-icon {
           margin: 10px auto auto;
         }
         .c-label-title {
           font-size: 20px;
           line-height: 27px;
           text-align: center;
           color: #4b4f5a;
           margin: 7px 0;
         }

         .c-out-auth-modal {
           position: absolute;
           top: 30px;
           right: 13px;
           cursor: pointer;
           svg {
             width: 30px;
             path {
               stroke: #313131;
             }
           }
         }
       }

       .c-auth-login-container {
         &__body {
           padding: 0 28px;
           .c-auth-provider {
             margin: 15px 0 0;
             display: -webkit-box;
             display: -webkit-flex;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-pack: justify;
             -webkit-justify-content: space-between;
             -ms-flex-pack: justify;
             justify-content: space-between;

             &__button {
               padding: 5px 0;
               -webkit-box-flex: 1;
               -webkit-flex: 1;
               -ms-flex: 1;
               flex: 1;
               background: #fff;
               cursor: pointer;
               border: 1px solid #dbdcde;

               &--facebook {
                 background: #4267b2;
                 border-color: transparent;
                 img {
                   width: 178px;
                   height: 45px;
                 }
               }
               &--google {
                 margin-left: 5px;
                 img {
                   width: 178px;
                   height: 45px
                 }
               }
             }
           }

           .c-auth-interstice {
             width: 100%;
             margin-top: 20px;
             margin-bottom: 14px;

             &__label {
               position: relative;
               width: 100%;
               text-align: center;
               font-size: 15px;
               line-height: 20px;
               overflow: hidden;
               margin: 0 auto;
               &::before, &::after {
                 display: inline-block;
                 vertical-align: middle;
                 content: "";
                 width: 50%;
                 height: 1px;
                 background-color: #dbdcde;
                 position: relative;
               }

               &::before {
                 right: .5em;
                 margin-left: -50%;
               }
               &::after {
                 left: .5em;
                 margin-right: -50%;
               }
             }
           }

           .c-auth-form {
             &__forget-password {
               a {
                 font-weight: bold;
                 font-size: 12px;
                 text-decoration-line: underline;
                 letter-spacing: .3px;
               }
             }
           }
         }

         &__footer {
           text-align: center;
           p {
             position: relative;
             top: 13px;
             color: #4b4b4b;
           }
           button {
             color: #4b4b4b;
             font-weight: bolder;
             font-size: 15px;
             text-decoration-line: underline;
             letter-spacing: .3px;
             -webkit-appearance: none;
             background: none;
             border: none;
           }

           .c-app-regiter-rules {
             font-size: 11px;
             text-align: left;
             padding: 0 29px;
             color: #6c757d!important;
           }
         }
       }
     }
   }

}
