.c-app-movies-show {
  .c-app-movies-show-content {
    &__header {
      position: relative;
      .header-image {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 75vh;
        z-index: 1;
        background-size: cover;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;
        &__gradient {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 75vh;
          z-index: 2;
          background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 50, 59, .1)), color-stop(85%, rgba(47, 50, 59, .5)), to(#2f323b));
          background-image: linear-gradient(rgba(47, 50, 59, .1), rgba(47, 50, 59, .5) 85%, #2f323b);
        }
      }

      .header-content {
        position: relative;
        padding: 40px 20px 0;
        z-index: 1;
        .header-banner {
          padding: 14px 0;
          margin-bottom: 10px;

          span {
            position: absolute;
            right: 10px;
            top: 30%;
            img {
              width: 70px;
            }
          }

          &__content {
            height: auto;
            overflow: visible;
            margin: 0;
            padding-top: 27%;
            border-bottom: 1px solid hsla(0, 0%, 100%, .15);

            &--title {
              margin: 5px 0;
              color: #fff;
              font-size: 50px;
              line-height: 1;
              text-transform: uppercase;
            }

            &--control {
              .overview-info {
                display: inline-block;
                vertical-align: text-bottom;
                width: 28px;
                height: 28px;
                -webkit-box-shadow: 0 0 0 1px #fff inset;
                box-shadow: inset 0 0 0 1px #fff;
                border-radius: 50%;
                white-space: nowrap;
                overflow: hidden;
                svg {
                  fill: #FFF;
                }

                &:hover {
                  background-color: #FFF !important;
                  svg {
                    fill: #1a1a1a;
                  }
                }
              }

              .c-add-my-selection {
                opacity: 1 !important;
                display: inline-block;
                position: relative;
                left: 5px;
                top: 4px;
                &__add {
                  .select-icon {
                    background-color: #FFF;
                    padding: 10px;
                    border-radius: 50%;
                    width: 28px;
                    height: 28px;
                    text-align: center;
                    display: inline-block;
                    cursor: pointer;
                    svg {
                      width: 13px;
                      position: absolute;
                      left: 50%;
                      top: 47%;
                      transform: translate(-50%, -50%);

                      path {
                        fill: #8fcdfe;
                      }
                    }
                  }
                }
                &__selected {
                  .in-select-icon {
                    background-color: #FFF;
                    padding: 10px;
                    border-radius: 50%;
                    width: 28px;
                    height: 28px;
                    text-align: center;
                    display: none;
                    opacity: 0;
                    transition: opacity 200ms;
                    cursor: pointer;
                    svg {
                      width: 13px;
                      position: absolute;
                      left: 50%;
                      top: 47%;
                      transform: translate(-50%, -50%);

                      path {
                        fill: #4b4b4b;
                      }
                    }
                  }

                  .selected-icon {
                    background-color: #FFF;
                    padding: 10px;
                    border-radius: 50%;
                    width: 28px;
                    height: 28px;
                    text-align: center;
                    display: inline-block;
                    cursor: pointer;
                    svg {
                      width: 13px;
                      position: absolute;
                      left: 50%;
                      top: 47%;
                      transform: translate(-50%, -50%);
                      path {
                        fill: #8fcdfe;
                      }
                    }
                  }

                  &:hover {
                    .in-select-icon {
                      display: inline-block;
                      opacity: 1;
                    }
                    .selected-icon {
                      display: none;
                      opacity: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .body-content {
        position: relative;
        padding: 40px 20px 0;
        z-index: 1;
        .tv-show-content {
          padding-bottom: 80px;
          &__category-title {
            h3 {
              color: #FFF;
              font-weight: 100;
              font-size: 22px;
              margin-bottom: 30px;
            }
          }

          &__video-content {
            position: relative;
            overflow: hidden;
            margin: -20px -5px -50px;
            &--video-item {
              width: 238px;
              height: 180px;
              display: inline-block;
              padding: 5px;
              float: left;
              a {
                display: block;
                position: relative;
                z-index: 1;
                width: 100%;
                color: inherit;
                outline: none;
                text-decoration: none;
                -webkit-transform-origin: center;
                transform-origin: center;
                -webkit-transition: z-index 0s .1s, -webkit-transform .2s .1s;;
                transition: transform .2s .1s, z-index 0s .1s, -webkit-transform .2s .1s;

                &:hover {
                  z-index: 2;
                  -webkit-transform: scale(1.1);
                  transform: scale(1.1);
                  -moz-transform: scale(1.1) rotate(.01deg);
                }

                .c-thumb-image {
                  display: block;
                  width: 100%;
                  max-height: 100%;
                  position: relative;
                  z-index: 2;
                  padding-top: 56%;
                  height: 0;
                  img {
                    position: absolute;
                    top: 0;
                    left: 0;
                  }
                }

                .c-thumb-image, .c-thumb-image > img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  background: #000;
                  -o-object-fit: cover;
                  object-fit: cover;
                }

                .c-info {
                  padding: 3px 9px 7px;
                  margin-top: 5px;
                  -webkit-transition: opacity .1s .1s;
                  transition: opacity .1s .1s;
                  position: relative;
                  z-index: 3;
                  .title, .description {
                    line-height: 1;
                    text-transform: uppercase;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                  }
                  .title {
                    margin-bottom: 3px;
                    color: #2e3c4b;
                    font-size: 13px;
                    font-weight: 700;
                  }
                  .description {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    color: #4c5054;
                    font-size: 11px;
                  }
                }

                .c-overlay {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  z-index: 1;
                  background-color: #fff;
                  -webkit-transition: opacity .1s .1s;
                  transition: opacity .1s .1s;
                }

              }
            }
          }

          &__season-change {
            margin-bottom: 30px;
            width: 220px;
            .btn-dark, .btn-dark:hover, .btn-dark:focus {
              background-color: rgba(58, 58, 58, 0.65);
              border: 1px solid #bdbdbd;
              border-radius: 0;
            }
            &--dropdown {
              background-color: #f0f0f0;
              position: absolute;
              width: 220px;
              z-index: 100;
              box-shadow: 0px 2px 20px -8px #131313;
              ul {
                list-style: none;
                margin: 0;
                padding: 10px;
                li {
                  padding: 10px;
                  border-bottom: 1px solid #c5c5c5;
                  color: #2f323b;
                  text-transform: uppercase;
                  font-size: 13px;
                  cursor: pointer;
                }
              }
            }
          }
        }
        .tv-show-description {
          margin: 15px -20px 10px;
          padding: 20px;
          color: #2f323b;
          background: #f0f0f0;
          overflow: hidden;
          &__title {
            h3 {
              display: inline-block;
            }
            svg {
              display: inline-block;
              vertical-align: text-bottom;
              width: 28px;
              height: 28px;
              -webkit-box-shadow: 0 0 0 1px #31353d inset;
              box-shadow: inset 0 0 0 1px #31353d;
              border-radius: 50%;
              white-space: nowrap;
              overflow: hidden;
              margin: 3px;
              fill: #31353d;
            }
          }
          &__main {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            color: #2f323b;
          }
          &__body {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            padding-top: 20px;
            padding-right: 40px;
            border-right: 1px solid #303135;
            font-size: 16px;
          }
          &__aside {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            padding-left: 20px;
          }

        }

        .tv-show-similar {
          margin: 15px -20px 10px;
          padding: 20px;

          &__title {
            h3 {
              color: #FFF;
              font-weight: 100;
              font-size: 22px;
            }
          }
          &__item {
            width: 238px;
            display: inline-block;
            padding: 5px;
            float: left;
            a {
              display: block;
              position: relative;
              z-index: 1;
              width: 100%;
              color: inherit;
              outline: none;
              text-decoration: none;
              -webkit-transform-origin: center;
              transform-origin: center;
              -webkit-transition: z-index 0s .1s, -webkit-transform .2s .1s;;
              transition: transform .2s .1s, z-index 0s .1s, -webkit-transform .2s .1s;

              &:hover {
                z-index: 2;
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                -moz-transform: scale(1.1) rotate(.01deg);
              }

              .c-thumb-image {
                display: block;
                width: 100%;
                max-height: 100%;
                position: relative;
                z-index: 2;
                padding-top: 56%;
                height: 0;
                img {
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }

              .c-thumb-image, .c-thumb-image > img {
                display: block;
                width: 100%;
                height: 100%;
                background: #000;
                -o-object-fit: cover;
                object-fit: cover;
              }

              .c-info {
                padding: 3px 9px 7px;
                margin-top: 5px;
                -webkit-transition: opacity .1s .1s;
                transition: opacity .1s .1s;
                position: relative;
                z-index: 3;
                .title, .description {
                  line-height: 1;
                  text-transform: uppercase;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
                .title {
                  margin-bottom: 3px;
                  color: #2e3c4b;
                  font-size: 13px;
                  font-weight: 700;
                }
                .description {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-align: center;
                  -webkit-align-items: center;
                  -ms-flex-align: center;
                  align-items: center;
                  color: #4c5054;
                  font-size: 11px;
                }
              }

              .c-overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                background-color: #fff;
                -webkit-transition: opacity .1s .1s;
                transition: opacity .1s .1s;
              }

            }
          }
        }

      }
    }

    .VueCarousel {
      .VueCarousel-navigation-next {
        position: absolute;
        right: 58px !important;
        background-color: rgba(0, 0, 0, 0.61);
      }
      .VueCarousel-navigation-prev {
        position: absolute;
        left: 58px !important;
        background-color: rgba(0, 0, 0, 0.61);
      }
    }
  }
}
