.c-app-my-selection {

  &__slider {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    padding: 20px 0 0;

    .c-my-selection-list {
      list-style-type: none;
      padding: 0;
      .c-my-selection-item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        position: relative;
        width: 38%;
        height: 100%;
        margin-right: 2%;
        background-color: #2f323b;

        &__content {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          height: 100%;
          width: 100%;
        }

        &__header {
          position: relative;
          width: 100%;
          height: auto;
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;

          a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              -o-object-fit: cover;
              object-fit: cover;
              overflow: hidden;
            }
            .preview-overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(48, 48, 48, 0.65098);
              border: 1px solid #69b9f8;
              p {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 20px;
                color: #e9e9e9;
              }
            }
          }
          &:after {
            content: "";
            display: block;
            padding-top: 56%;
          }

          .c-add-my-selection {
            opacity: 0;
            transition: opacity 300ms;
            &__add {
              .select-icon {
                position: absolute;
                bottom: 10px;
                right: 10px;
                background-color: #FFF;
                padding: 10px;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                text-align: center;
                svg {
                  width: 13px;
                  margin: 0 0 4px;
                  path {
                    fill: #8fcdfe;
                  }
                }
              }
            }
            &__selected {
              .in-select-icon {
                position: absolute;
                bottom: 10px;
                right: 10px;
                background-color: #fff;
                padding: 10px;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                text-align: center;
                opacity: 0;
                transition: opacity 200ms;
                svg {
                  width: 13px;
                  margin: 0 0 4px;
                  path {
                    fill: #4b4b4b;
                  }
                }
              }

              .selected-icon {
                position: absolute;
                bottom: 10px;
                right: 10px;
                background-color: #fff;
                padding: 10px;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                text-align: center;
                svg {
                  width: 13px;
                  margin: 0 0 4px;
                  path {
                    fill: #8fcdfe;
                  }
                }
              }

              &:hover {
                .in-select-icon {
                  opacity: 1;
                }
                .selected-icon {
                  opacity: 0;
                }
              }
            }
          }
        }

        &__playlist {
          -webkit-box-flex: 1;
          -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
          flex: 1 0 auto;
          height: auto;
          position: relative;
          width: 100%;

          .playlist {
            position: absolute;
            top: 10px;
            left: 20px;
            right: 13px;
            bottom: 10px;
            padding-right: 20px;
            margin-bottom: 10px;
            overflow-y: auto;
            color: #2f323b;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            will-change: transform;

            &__list {
              list-style-type: none;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              will-change: transform;
              padding: 0;
            }

            &__item {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -webkit-flex-direction: row;
              -ms-flex-direction: row;
              flex-direction: row;
              -webkit-box-align: start;
              -webkit-align-items: flex-start;
              -ms-flex-align: start;
              align-items: flex-start;
              background-color: transparent;
              -webkit-transition: background-color .1s ease-in;
              transition: background-color .1s ease-in;
            }

            &__thumb {
              position: relative;
              width: 7vw;
              height: 4.2vw;
              line-height: 4.2vw;
              float: left;
              margin-right: 1vw;
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                max-height: 100%;
                min-height: 100%;
              }

              .playlist-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(19, 19, 19, 0.73);
                opacity: 0;
                transition: opacity 200ms;
                svg {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }

            &__title {
              font-size: 1.1vw;
              line-height: normal;
              font-weight: 400;
              margin: .2vw 0 .4vw;
              color: #fff;
            }

            &__description {
              font-size: .9vw;
              color: #777b85;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            li {
              font-size: .9vw;
              line-height: .9vw;
              margin-bottom: 0;
              padding: 1vw 1vw 1vw 0;
              border-top: 1px solid #babbbd;
              cursor: pointer;

              a {
                color: #fff;
                font-weight: 400;
                text-decoration: none;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
              }

              &:after {
                content: "";
                display: table;
                clear: both;
              }

              &:hover {
                .playlist-overlay {
                  opacity: 1;
                }
              }
            }

          }
        }
      }
    }
  }

  // Phone
  @media (max-width: 749px) {
    &__slider {
      top: 0;
      height: 100vh;
      padding: 0;
      .c-my-selection-list {
        .c-my-selection-item {
          width: 94% !important;
          height: auto;
          margin: 18px auto auto;

          &__playlist {
            .playlist {
              position: static;
              padding: 0 20px;

              &__thumb {
                width: 100px !important;
                height: 60px !important;
                line-height: 60px !important;
                margin-right: 10px !important;
                margin-bottom: 10px !important;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 750px) {
    &__slider {
      margin-bottom: -30px;

      .c-my-selection-list {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        height: 100%;
        padding: 50px 0 60px 300px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;

      }
    }
  }

  @media (max-width: 1023px) {
    &__slider {

      .c-my-selection-list {
        .c-my-selection-item {
          width: 60%;

          &__playlist {
            .playlist {
              &__thumb {
                width: 9vw;
                height: 5.4vw;
                line-height: 5.4vw;
                margin-right: 1.3vw;
              }
            }
          }
        }
      }
    }
  }


  &__slider-arrow {
    button:focus {
      outline: none;
    }
    button {
      position: fixed;
      top: 40%;
      background-color: rgba(15, 15, 16, 0.54);
      border: none;
      padding: 24px 0;
      height: 130px;
    }
    .slider-arrow-left {
      left: 0;
      z-index: 10;
      svg {
        width: 60px;
      }
    }
    .slider-arrow-right {
      right: 0;
      z-index: 10;
      svg {
        width: 60px;
      }
    }
  }
}

