.c-app-search {
  &__search-input {
    margin-top: 80px;
    position: relative;
    input {
      margin-bottom: 8px;
      -webkit-appearance: none;
      border-radius: 0;
      font-weight: 100;
      border: none;
      color: #fff;
      outline: none;
      width: 100%;
      height: inherit;
      font-size: 80px;
      background-color: transparent;
      padding-left: 120px;;
      &:focus,
      &:hover,
      &:active {
        background:  transparent;
        border: none !important;
        color: #FFF;

      }
    }
    .search-icon {
      position: absolute;
      top: 23%;
      left: 32px;
      display: inline-block;
      svg {
        width: 65px;
      }
    }
  }

  &__search-result {
    margin: 15px -20px 10px;
    padding: 20px 50px;
    &--title {
      h3 {
        color: #FFF;
        font-weight: 100;
        font-size: 22px;
        margin-left: 5px;
      }
    }
    &--slider {
      .item {
        width: 238px;
        display: inline-block;
        padding: 5px;
        float: left;
        a {
          display: block;
          position: relative;
          z-index: 1;
          width: 100%;
          color: inherit;
          outline: none;
          text-decoration: none;
          -webkit-transform-origin: center;
          transform-origin: center;
          -webkit-transition: z-index 0s .1s, -webkit-transform .2s .1s;;
          transition: transform .2s .1s, z-index 0s .1s, -webkit-transform .2s .1s;

          &:hover {
            z-index: 2;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            -moz-transform: scale(1.1) rotate(.01deg);
          }

          .c-thumb-image {
            display: block;
            width: 100%;
            max-height: 100%;
            position: relative;
            z-index: 2;
            padding-top: 56%;
            height: 0;
            img {
              position: absolute;
              top: 0;
              left: 0;
            }
          }

          .c-thumb-image, .c-thumb-image > img {
            display: block;
            width: 100%;
            height: 100%;
            background: #000;
            -o-object-fit: cover;
            object-fit: cover;
          }

          .c-info {
            padding: 3px 9px 7px;
            margin-top: 5px;
            -webkit-transition: opacity .1s .1s;
            transition: opacity .1s .1s;
            position: relative;
            z-index: 3;
            .title, .description {
              line-height: 1;
              text-transform: uppercase;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            .title {
              margin-bottom: 3px;
              color: #2e3c4b;
              font-size: 13px;
              font-weight: 700;
            }
            .description {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -webkit-align-items: center;
              -ms-flex-align: center;
              align-items: center;
              color: #4c5054;
              font-size: 11px;
            }
          }

          .c-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background-color: #fff;
            -webkit-transition: opacity .1s .1s;
            transition: opacity .1s .1s;
          }

        }
      }
    }
  }


  .VueCarousel {
    .VueCarousel-navigation-next {
      position: absolute;
      right: 58px;
      background-color: rgba(0, 0, 0, 0.61);
    }
    .VueCarousel-navigation-prev {
      position: absolute;
      left: 58px;
      background-color: rgba(0, 0, 0, 0.61);
    }
  }
}

@media only screen and (max-width: 600px) {

  .c-app-search {
    &__search-input {
      margin-top: 80px;
      position: relative;
      input {
        margin-bottom: 8px;
        -webkit-appearance: none;
        border-radius: 0;
        font-weight: 100;
        border: none;
        color: #fff;
        outline: none;
        width: 100%;
        height: inherit;
        background-color: transparent;
        padding-left: 70px;
        font-size: 37px;
        &:focus,
        &:hover,
        &:active {
          background: transparent;
          border: none !important;
          color: #FFF;

        }
      }
      .search-icon {
        position: absolute;
        top: 23%;
        left: 20px;
        display: inline-block;
        svg {
          width: 30px;
        }
      }
    }
  }

}
