
.c-app-settings {
  &__sidebar {
    position: fixed;
    width: 70px;
    height: 100%;
    left: -1px;
    top: 0;
    background-color: #343434;
    border-left: 1px solid #000;
    box-shadow: -6px 4px 20px -8px #000;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 18px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.14);
          cursor: pointer;
        }
      }

      li.active {
        background-color: rgba(255, 255, 255, 0.14);
      }
    }
  }

  &__sidebar-mobile {
    margin: 0 auto;
    background-color: #343434;
    width: 100%;
    overflow: auto;
    ul {
      min-width: 100%;
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        padding: 20px;
        .icon {
          display: inline;
          svg {
            width: 40px;
          }
        }
      }
    }
  }
  &__language {
    .flag {
      box-shadow: 0px 6px 20px -10px #d5d5d5;
      border-radius: 5px;
      height: 182px;
      width: 160px;
      padding: 10px;
      color: #c3c3c3;
      &:hover {
        box-shadow: 0px 6px 15px -9px #2196F3;
        cursor: pointer;
        color: #808080;
      }

      strong {
        position: relative;
        top: 5px;
      }
    }
    .active {
      border-bottom: 3px solid #2196F3;
      color: #808080;
    }
    select {
      background-color: transparent;
    }

  }
}


@media only screen and (min-width: 600px) {

  .c-app-settings {
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-47%, -50%);
    background-color: #FFF;
    padding: 10px;
    width: 90%;
    height: 79%;
    z-index: 10000;
    overflow: auto;
    box-shadow: 0px 5px 20px -8px #000;
    &__header {
      padding: 10px 100px;

      &--title {
        display: inline-block;
        h3 {
          display: inline-block;
          font-weight: 100;
        }
      }
      &--out-modal {
        display: inline-block;
        float: right;
        width: 30px;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;
        svg {
          width: 30px;
          path {
            stroke: #000;
          }
        }
      }
    }

    &__body {
      padding: 10px 100px;
      border-bottom: 1px solid #f6f6f6;
    }

    &__adjust-subtitle {
      .dropdown-menu {
        display: block !important;
      }
    }

  }

}

@media only screen and (min-width: 1000px) {

  .c-app-settings {

    &__body {
      padding: 10px 100px;
      border-bottom: 1px solid #f6f6f6;
      width: 100% !important;
    }

  }

}

@media only screen and (max-width: 600px) {
  .c-app-settings {

    position: fixed;
    background-color: #FFF;
    padding: 10px;
    width: 100%;
    height: 100%;
    z-index: 10000;
    overflow: auto;
    top: 0;
    left: 0;

    &__header {
      padding: 10px;

      &--title {
        display: inline-block;
        h3 {
          display: inline-block;
          font-weight: 100;
        }
      }
      &--out-modal {
        display: inline-block;
        float: right;
        width: 30px;
        cursor: pointer;
        svg {
          width: 30px;
          path {
            stroke: #000;
          }
        }
      }
    }

    &__body {
      padding: 10px 15px;
      border-bottom: 1px solid #f6f6f6;
    }

  }
}
