.wolf-player {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  .loader {
    left: 100%;
    top: 100%;

    .loader-svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      svg {
        width: 200px;
        height: 200px;
      }
    }
  }

  .jw-player,
  .geo-block-error,
  .ghost_login_message {
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .geo-block-error {
    .image, .title {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .image {
      top: 30%;
      width: 500px;
    }
    .title {
      top: 55%;
      width: 100%;
      text-align: center;
      h3 {
        text-align: center;
        font-weight: 100;
        color: #FFF;
        font-size: 50px;
      }

      .btn-play {
        border-radius: 0 !important;
        color: #FFFF;
        width: 240px;
        text-align: center;
        background-color: #392c40;
        font-size: 24px;
        font-weight: 100;
        text-transform: uppercase;
        margin-top: 20px;
      }
    }
  }

  .jwplayer.jw-flag-aspect-mode {
    height: 100% !important;
  }
}
