.c-app-header {

    .c-app-navbar-show {
        .c-app-navbar__back {
            width: 30px;
            position: relative;
            top: -15px;
            left: 20px;
            cursor: pointer;
            z-index: 100000;
            svg {
                width: 30px;
            }
        }

        .c-app-navbar__logo {
            position: absolute !important;
            width: 100% !important;
            height: 100% !important;
            max-height: 100% !important;
            text-align: center !important;
            img {
                width: 90px !important;
            }
        }

        .c-app-navbar__menu {
            position: absolute;
            right: 0;
        }
    }

    .c-app-navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        display: flex;
        z-index: 100000;
        &__logo {
            width: 156px;
            float: left;
            height: 100%;
            max-height: 100%;
            text-align: center;
            padding-bottom: 2px;
            overflow: hidden;
            line-height: 48px;
            img {
                width: 45%;
            }
        }

        &__channels {
            float: left;
            height: 100%;
            max-height: 100%;
            text-align: center;
            padding-bottom: 2px;
            overflow: hidden;
            line-height: 48px;
            width: calc(100% - 366px);
            border-left: 1px solid hsla(0, 0%, 100%, .27);
            .c-channel-icon {
                cursor: pointer;
                .c-channel-logo {
                    padding: 0 4px;
                    margin-left: 18px;
                    width: 88px;
                }

                .c-rti1-icon, .c-rti2-icon, .c-rti3-icon {
                    width: 75px !important;
                }
            }
        }

        &__menu {
            height: 100%;
            max-height: 100%;
            text-align: center;
            width: 200px;
            display: flex;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: space-around;
            justify-content: space-around;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            .c-text-username {
                display: block;
                font-size: 12px;
                width: 100%;
                height: 100%;
                line-height: 50px;
                text-align: left;
                cursor: pointer;
                margin-left: 15px;
                color: #FFF;
                span {
                    position: relative;
                    left: 17px;
                }
            }
            .avatar-preview {
                width: 35px;
                height: 35px;
                position: relative;
                margin-left: 30px;
                border-radius: 100%;
                > div {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            &--dropdown {
                position: absolute;
                right: 7px;
                top: 50px;
                text-align: left;
                color: #FFF;
                width: 200px;
                background-color: rgba(47, 50, 59, 0.9);

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        padding: 10px;
                        list-style-type: none;
                        text-align: left;
                        width: 100%;
                        height: 32px;
                        line-height: 30px;
                        margin: 0;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.27);
                        font-weight: 100;
                        font-size: 14px;
                        position: relative;

                        a,span {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            padding: 0 10px;
                            color: #FFF;
                            text-decoration: none;
                            cursor: pointer;
                            &:hover {
                                background-color: #4b4b4b;
                            }
                        }
                    }
                }
            }

        }
    }

    .c-navbar-bk {
        background-color: #2f323b;
    }

    .rti1-overlay-color {
        background: rgba(43, 14, 0, 0.8);
    }

    .rti2-overlay-color {
        background: rgba(12, 43, 19, 0.8);
    }

    .rti3-overlay-color {
        background: rgba(52, 0, 72, 0.8);
    }

    .radio-ci-overlay-color {
        background: rgba(35, 36, 0, 0.8);
    }
    .frequence-overlay-color {
        background: rgba(30, 7, 0, 0.8);
    }
}

@media only screen and (min-width: 768px) {
    .c-app-header {

        .c-app-navbar {
            .ghost {
                .c-login-icon-container {
                    position: relative;
                    left: 20px;
                }
            }
        }

        .VueCarousel {
            position: inherit !important;
            .VueCarousel-navigation-prev {
                position: absolute;
                left: 185px !important;
            }
            .VueCarousel-navigation-next {
                position: absolute;
                right: 220px !important;
            }
        }
    }
}

@media only screen and (max-width: 768px) {

    .c-app-header {

        .c-app-navbar {
            height: 100px;

            &__channels {
                height: 100%;
                max-height: 100%;
                text-align: center;
                padding-bottom: 2px;
                overflow: hidden;
                line-height: 48px;
                width: 95%;
                border-left: 1px solid rgba(255, 255, 255, 0.27);
                position: absolute;
                top: 50px;
                left: 0;
                .c-channel-icon {
                    .c-channel-logo {
                        padding: 0 4px;
                        margin-left: 0 !important;
                    }
                }
            }

            &__mobile-menu {
                position: relative;
                top: 0;
                left: 0;
                padding: 15px 20px;
                width: 100px;
                height: 50px;
                z-index: 100;
                svg {
                    width: 22px;
                    path {
                        fill: #FFF;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            &__search-icon {
                position: absolute;
                right: 59px;
                padding: 15px;
                border-right: 1px solid rgba(147, 147, 147, 0.3);
                cursor: pointer;
            }

            &__logo {
                position: absolute !important;
                width: 100% !important;
                height: 100% !important;
                max-height: 100% !important;
                text-align: center !important;
                img {
                    width: 80px !important;
                }
            }

            .c-login-icon-container {
                position: absolute !important;
                right: 0 !important;
                top: 10px;
                cursor: pointer;
            }
        }

    }


    .VueCarousel {
        position: relative !important;
        .VueCarousel-navigation-prev {
            position: absolute;
            left: 40px !important;
        }
        .VueCarousel-navigation-next {
            position: fixed;
            right: 40px !important;
            top: 75px;
        }
    }
}
