.c-app-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(20,20,20,.8);
    display: flex;
    z-index: 10;
    &__logo {
        width: 156px;
        float: left;
        height: 100%;
        max-height: 100%;
        text-align: center;
        padding-bottom: 2px;
        overflow: hidden;
        line-height: 48px;
        img {
            width: 45%;
        }
    }

    &__channels {
        float: left;
        height: 100%;
        max-height: 100%;
        text-align: center;
        padding-bottom: 2px;
        overflow: hidden;
        line-height: 48px;
        width: calc(100% - 366px);
        border-left: 1px solid hsla(0,0%,100%,.27);
        .c-channel-icon {
            cursor: pointer;
            .c-channel-logo {
                padding: 0 4px;
                margin-left: 18px;
                width: 88px;
            }

            .c-rti1-icon, .c-rti2-icon, .c-rti3-icon {
                width: 75px !important;
            }
        }
    }

    &__menu {
        height: 100%;
        max-height: 100%;
        text-align: center;
        width: 200px;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        .c-text-username {
            display: block;
            font-size: 12px;
            width: 100%;
            height: 100%;
            line-height: 50px;
            text-align: left;
            cursor: pointer;
            span {
                position: relative;
                left: 17px;
            }
        }
    }
}
