.c-app-sidebar-left {
  z-index: 10;
  transition: 300ms ease-in-out;
  position: relative;
  left: 0;
  &__search {
    position: fixed;
    z-index: 6;
    top: 70px;
    left: 0;
    min-height: 50px;
    height: 50px;
    width: 200px;
    border-radius: 0 2px;
    cursor: pointer;
    .c-search-label {
      color: #a09e9d;
      font-size: 25px;
      line-height: 51px;
      margin-left: 18px;
    }
    .c-search-icon {
      display: block;
      float: right;
      margin-top: 12px;
      margin-right: 15px;
      width: 18px;
      height: 18px;
    }

    a:hover {
      text-decoration: none !important;
    }
  }
  &__categories-list {
    position: absolute;
    top: 110px;
    left: 0;
    margin-top: 15px;
    z-index: 10;

    .c-category-item {
      display: table;
      a {
        font-weight: 100;
        font-size: 25px;
        height: 39px;
        line-height: 39px;
        text-decoration: none;
        padding: 0 19px;
        width: auto;
        color: hsla(0, 0%, 100%, .5);
        margin-bottom: 2px;
        transition: all .2s ease-out 0s;
        &:hover {
          padding-left: 30px;
        }
        &:before {
          display: block;
          border-radius: 0 2px 2px 0;
          -webkit-transition: all .2s ease-out 0s;
          transition: all .2s ease-out 0s;
        }

        .c-live-bullet {
          display: inline-block;
          margin-bottom: 2px;
          margin-left: 10px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #ff1c1c;
        }
      }
      .c-bk-color {
        background-color: rgba(47, 50, 59, .8);
      }
      .router-link-exact-active.c-my-selection {
        background-color: #69b9f8 !important;
        color: #FFF !important;
      }

      .router-link-exact-active {
        background-color: hsla(0, 0%, 100%, .8);
        cursor: pointer;
        transition: all .2s ease-out 0s;
        font-size: 40px;
        font-weight: 100;
        height: 60px;
        line-height: 60px;
        color: rgba(47, 50, 59, 0.8);
        .c-live-bullet {
          width: 18px;
          height: 18px;
        }
      }
    }

  }
}

.c-bk-color {
  background-color: rgba(47, 50, 59, .8);
}

.rti1-overlay-color {
  background: rgba(43, 14, 0, 0.8);
}

.rti2-overlay-color {
  background: rgba(12, 43, 19, 0.8);
}

.rti3-overlay-color {
  background: rgba(52, 0, 72, 0.8);
}

.radio-ci-overlay-color {
  background: rgba(35, 36, 0, 0.8);
}

.frequence-overlay-color {
  background: rgba(30, 7, 0, 0.8);
}

.c-app-sidebar-left.c-hide-sidebar {
  position: relative;
  left: -700px;
}

.c-app-sidebar-left.c-show-sidebar {
  position: relative;
  left: 0;
}

.c-app-mobile-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000000;
  width: 90%;
  height: 100%;
  background-color: rgba(47, 50, 59, 1);

  &__out-menu {
    position: fixed;
    width: 10%;
    height: 100%;
    right: 0;
    background-color: rgba(41, 41, 41, 0.7);
  }

  &__categories-list {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15px;
    z-index: 10;
    width: 100%;

    .c-category-item {
      a {
        font-weight: 100;
        font-size: 25px;
        height: 39px;
        line-height: 39px;
        text-decoration: none;
        padding: 0 19px;
        display: block;
        width: 100%;
        color: hsla(0, 0%, 100%, .5);
        margin-bottom: 2px;
        transition: all .2s ease-out 0s;
        &:hover {
          padding-left: 30px;
        }
        &:before {
          display: block;
          border-radius: 0 2px 2px 0;
          -webkit-transition: all .2s ease-out 0s;
          transition: all .2s ease-out 0s;
        }

        .c-live-bullet {
          display: inline-block;
          margin-bottom: 2px;
          margin-left: 10px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #ff1c1c;
        }
      }
      .c-bk-color {
        background-color: rgba(47, 50, 59, .8);
      }
      .router-link-exact-active.c-my-selection {
        background-color: #69b9f8 !important;
        color: #FFF !important;
      }

      .router-link-exact-active {
        background-color: hsla(0, 0%, 100%, .8);
        cursor: pointer;
        transition: all .2s ease-out 0s;
        font-size: 40px;
        font-weight: 100;
        height: 60px;
        line-height: 60px;
        color: rgba(47, 50, 59, 0.8);
        .c-live-bullet {
          width: 18px;
          height: 18px;
        }
      }
    }

  }
}
