/* ----------- HTC One ----------- */

/* Portrait and Landscape */

@media only screen and (max-width: 767px) {

  .default {
    padding: 0;
    overflow-x: hidden;
  }

  .main {
    margin-left: 0 !important;
    padding: 0;
  }

  .navbar-content {
    position: relative !important;
  }

  .xjkax {
    margin-top: 50px !important;
  }

  .home-slide {
    margin-top: 0 !important;
  }

  .animation:hover {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .top-item {
    margin-top: -50px !important;

    &__film-cover {
      height: auto !important;

      img {
        position: relative !important;
        width: 100% !important;
      }
    }

    &__film-ovarlay {
      position: absolute !important;
      left: -122px !important;
      top: 45% !important;
      height: auto !important;
      z-index: 1 !important;
      padding: 20px;
    }

    &__film-details {
      position: relative !important;
      bottom: 0 !important;
      left: 0 !important;

      .overview {
        font-size: 14px !important;
        width: 100% !important;
      }

      .title h2 {
        font-size: 40px !important;
      }
    }
  }

  .bg-inverse {
    .search {
      input {
        left: 20px !important;
      }

      .search-icon {
        position: absolute;
        top: 9px;
        left: 10px;
        display: inline-block;
      }
    }
  }

  .exit-button {
    right: 10px !important;
    top: 10px;
  }

  .poster-sm-down,
  .content-sm-down {
    position: relative;
    top: -70px;
  }

  .btn {
    width: 100% !important;
  }


  .show_item {

    &__overview {

      position: relative;
      top: 0 !important;

    }
  }


  .VueCarousel-pagination {
    position: absolute;
    right: 0 !important;
    top: 0 !important;
    width: auto !important;
  }


  #mainFooter {
    bottom: -600px !important;
}
}
